a {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-1 {
  color: #4d5ae5;
}
.logo-2__header {
  color: #2e2f42;
}
.logo-2__footer {
  color: #f4f4fd;
}

.section-what-are-we-doing__title,
.section-team__title {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* page-header */

.page-header__navigation-item {
  color: #2e2f42;
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.page-header__contact-item {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* end page-header */

/* hero*/
.hero {
  background: #2e2f42;
  height: 600px;
}
.hero__tittle {
  width: 496px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.hero__button {
  color: #fff;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* end hero*/

/* section-our-features */

.section-our-features__tittle {
  color: 2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.section-our-features__description {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* end section-our-features */

/* section-what-are-we-doing */
.section-what-are-we-doing {
  background: #fff;
}

.section-what-are-we-doing__img {
  width: 360px;
  height: 300px;
}

/* end section-what-are-we-doing */

/* section team */
.section-team {
  background: #f4f4fd;
  height: 732px;
}

.section-team__img {
  width: 264px;
  height: 260px;
}

/*.section-team__member {
  text-align: center;
}*/

.section-team__name {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.section-team__position {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* end section team */

/* footer */
.footer {
  background: #2e2f42;
  height: 312px;
}
.footer-description {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}
/* end footer */

/* portfolio-buttons */

.portfolio-buttons__button {
  color: #4d5ae5;
  text-align: center;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--CLOUD, #f4f4fd);
}
.portfolio-buttons__button:hover,
.portfolio-buttons__button:focus {
  color: #fff;
  text-align: center;
  cursor: pointer;
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: #404bbf;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.portfolio-client__img {
  width: 360px;
  height: 300px;
}
.portfolio-client__tittle {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.portfolio-client__description {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* end portfolio-buttons*/
